<h1>Login</h1>

<form action="/login" method="POST">
  <div>
    <label for="email">Email/Domain</label>
    <input type="text" id="email" name="email" required />
  </div>
  <div>
    <label for="password">Password/Secret</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label for="type">Select Type</label>
    <select name="type" id="type" required>
      <option value="org">Organization</option>
      <option value="user">User</option>
    </select>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
